@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-fondo-principal: #000000;
    --color-fondo-secundario: #0A0A0A;
    --color-texto-principal: #FFFFFF;
    --color-texto-secundario: #CCCCCC;
    --color-acento-primario: #FFD400;
    --color-acento-oscuro: #C5A900;
    --color-borde-acento: #FFD400;
    --color-borde: #FFFFFF;

    --fuente-titulo: 'Bebas Neue', sans-serif;
    --fuente-texto: 'Inter', sans-serif;

    --padding-gap: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: var(--fuente-texto);
}

header {
    border-bottom: 2px solid var(--color-borde);
    padding: var(--padding-gap);
}

header div {
    display: flex;
    align-items: center;
    gap: 5px;
}

header h1 {
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: 18px;
    margin-right: 350px;
}

nav ul {
    margin-left: 20px;
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 15px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: var(--color-texto-principal);
    font-weight: 600;
}

.btn-contacto {
    background-color: var(--color-acento-primario);
    font-family: var(--color-texto-principal);
    color: var(--color-fondo-principal);
    padding: 8px 16px;
    font-weight: 800;    
}

.btn-contacto:hover {
    background-color: var(--color-acento-oscuro);
}

header img {
    display: block;
}

.imc {
    min-height: 70vh;
    padding: 110px 100px;
}

.imc h2 {
    font-family: var(--fuente-titulo);
    font-size: 64px;
    margin-bottom: 20px;
}

.imc img {
    width: 1000px;
    margin: 40px;
}

.imc p {
    color: var(--color-texto-secundario);
    margin-bottom: 40px;
    font-size: 25px;
}

.imc button {
    background-color: var(--color-acento-primario);
    color: var(--color-fondo-principal);
    padding: 20px 40px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 6px 0px var(--color-acento-oscuro);
    transition: 0.2s;
}

.imc button:hover {
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-principal);
    transform: translate(2px, 2px);
    box-shadow: 8px 8px 0px var(--color-texto-secundario);
}

footer {
    background-color: var(--color-fondo-principal);
    padding: 30px;
    margin-top: 100px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: var(--color-acento-primario);
}

footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-acento-primario);
    color: var(--color-fondo-principal);
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
}

footer a:hover {
    color: var(--color-fondo-secundario);
    color: var(--color-texto-principal);
}