@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-fondo-principal: #000000;
    --color-fondo-secundario: #0A0A0A;
    --color-texto-principal: #FFFFFF;
    --color-texto-secundario: #CCCCCC;
    --color-acento-primario: #FFD400;
    --color-acento-oscuro: #C5A900;
    --color-borde-acento: #FFD400;
    --color-borde: #FFFFFF;

    --fuente-titulo: 'Bebas Neue', sans-serif;
    --fuente-texto: 'Inter', sans-serif;

    --padding-s: 12px;
    --padding-m: 20px;
    --padding-l: 40px;

    --radio-s: 8px;
    --radio-m: 12px;
    --radio-l: 20px;

    --borde-s: 2px;
    --borde-m: 4px;

    --sombra-tarjeta: 15px 25px 0px var(--color-acento-oscuro);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: var(--fuente-texto);
}

header {
    border-bottom: 2px solid var(--color-borde);
    padding: var(--padding-m);
}

header div {
    display: flex;
    align-items: center;
    gap: var(--borde-m);
}

header h1 {
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 350px;
}

nav ul {
    margin-left: 300px;
    list-style: none;
    display: flex;
    gap: 80px;
    font-size: 20px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: var(--color-texto-principal);
    font-weight: 600;
}

.btn-contacto {
    background-color: var(--color-acento-primario);
    font-family: var(--color-texto-principal);
    color: var(--color-fondo-principal);
    padding: var(--padding-s) var(--padding-m);
    font-weight: 800;    
}

.btn-contacto:hover {
    background-color: var(--color-acento-oscuro);
}

.tarjeta-calculadora {
    min-height: 70vh;
    padding: 110px 100px;
}

.tarjeta-calculadora h2 {
    font-family: var(--fuente-titulo);
    font-size: 64px;
    margin-bottom: var(--padding-m);
}

.tarjeta-calculadora img {
    width: 1000px;
    margin: var(--padding-l);
}

.tarjeta-calculadora p {
    color: var(--color-texto-secundario);
    margin-bottom: var(--padding-l);
    margin-top: 80px;
    font-size: 25px;
}

.tarjeta {
    background-color: var(--color-acento-primario);
    border: 4px solid var(--color-fondo-secundario);
    padding: var(--padding-l);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    box-shadow: var(--sombra-tarjeta);
}

#campo-1, .campo-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 25px;
    color: var(--color-fondo-principal);
    font-family: var(--fuente-titulo);
}

#campo-1 select, .campo-2 input {
    padding: var(--padding-s);
    border-radius: var(--radio-s);
    border: var(--borde-s) solid var(--color-acento-primario);
    background-color: var(--color-acento-oscuro);
    color: var(--color-texto-principal);
    font-size: 16px;
}

.tarjeta button {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    align-self: center;
    margin-top: var(--padding-s);
}

.tarjeta button:hover {
    background-color: var(--color-texto-secundario);
    color: var(--color-fondo-principal);
}

.tarjeta div:last-child {
    border: 10px solid var(--color-acento-oscuro);
    border-radius: var(--radio-m);
    padding: var(--padding-s);
    min-height: 80px;
    text-align: center;
}

#estadoProyecto {
    font-size: 22px;
    font-weight: 800;
    color: var(--color-fondo-principal);
}

#mensajeProyecto {
    font-size: 16px;
    color: var(--color-fondo-principal);
}

footer {
    background-color: var(--color-fondo-principal);
    padding: var(--padding-m);
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: var(--color-acento-primario);
}

footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-acento-primario);
    color: var(--color-fondo-principal);
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: var(--radio-s);
}

footer a:hover {
    color: var(--color-fondo-secundario);
    color: var(--color-texto-principal);
}